@model IEnumerable<App.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "Meus Pedidos";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Sucess"] != null)
{
    <p class="alert alert-success"> @TempData["Sucess"]</p>
}

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Status)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>