@model IEnumerable<App.ViewModels.CommentViewModel>

@{
    ViewData["Title"] = "Comentários do post selecionado";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>  
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-info mt-3" href="javascript:window.history.back();">Voltar</a>
