@using Business.Models
@using Microsoft.AspNetCore.Identity
@model IEnumerable<App.ViewModels.PostViewModel>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Posts";
}

<div>
<h1>Bem-Vindo à Comunidade do Site</h1>
<h3>Fique à vontade para compartilhar suas dúvidas e dicas!</h3>
</div>

<a class="btn btn-primary" asp-controller="Posts" asp-action="Create">Criar Post</a>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-8">
            <p class="border-top border-2 border-dark mt-3"></p>
            <h5>
                @Html.DisplayFor(modelItem => item.Title)
            </h5>
            <p><b>@Html.DisplayFor(modelItem => item.User.FullName) - @Html.DisplayFor(modelItem => item.CreatedDate)</b></p>
            <p>
                @Html.DisplayFor(modelItem => item.Content)
            </p>
            @if (item.Image != null)
            {
                <img src="@item.Image" alt="@item.Image" style="width:300px; height:300px; align-items:center" />
            }
            <p />
            <h5>Comentários</h5>
            <table class="table">
                <thead>
                <th></th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                    @foreach (var comment in item.Comments)
                    {

                        <tr>
                            <td>
                                <h6><b>@comment.User.FullName</b> - @comment.CreatedDate</h6>
                            </td>
                            <td>
                                <p>@comment.Message</p>
                            </td>
                            <td>
                                @if (UserManager.GetUserName(User) == comment.User.Email)
                                {
                                    <a class="btn btn-danger" asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id"><spam class="fa fa-trash"></a>
                                    <a class="btn btn-warning" asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id"><spam class="fa fa-pencil"></a>
                                }
                                @if (User.IsInRole("Admin") && UserManager.GetUserName(User) != comment.User.Email)
                                {
                                    <a class="btn btn-danger" asp-area="Admin" asp-controller="AdminComments" asp-action="Delete" asp-route-id="@comment.Id"><spam class="fa fa-trash"></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div>
                <form asp-action="AddComment" class="col-md-6">
                    <div class="form-group">
                        <textarea name="Message" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="PostId" class="form-control" value="@item.Id" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Comentar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
</div>
