@model ShoppingCartViewModel

<h1>Carrinho de Compras</h1>

@if (TempData["MaxItems"] != null)
{
    <div class="alert alert-warning">
        <p class="alert alert-warning">@TempData["MaxItems"]</p>
    </div>
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning">
        <p>@TempData["Message"]</p>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>
                    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="DecreaseFromCart" asp-route-id="@item.Product.Id">-</a>
                    @item.Quantity
                    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.Product.Id">+</a>
                </td>

                <td>@((item.Product.Price).ToString("C"))</td>
                <td>@((item.Product.Price * item.Quantity).ToString("C"))</td>
                <input type="hidden" value="@item.Product.Id" />
                <td>
                    <a class="btn btn-danger" asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@item.Product.Id"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>Total:</b></td>
            <td><b>@Model.TotalPrice.ToString("C")</b></td>
            <td></td>
        </tr>
    </tbody>
</table>
<form asp-action="CreateOrder">
    <input type="submit" value="Finalizar Pedido" class="btn btn-primary" asp-controller="Orders" asp-action="CreateOrder" />
    <a class="btn btn-info" asp-controller="Products" asp-action="List">Continuar Comprando</a>
</form>


